*{box-sizing:border-box} /* I added this line */
body{ margin: 0;}

.bigimage{ min-height: 100vh; 

display: flex;

align-items: center;

justify-content: center;

background-image: url(donation13.png);

background-position: center;

background-size: cover;

object-fit: cover;

font-family: 'Roboto Slab', serif 

}

#content{ display: flex; 
align-items: center;
color: white;
}

#firstpara{ text-align: center;

        font-family: 'Gulzar', serif;

        font-weight: 700;


border-radius: 10px;

        padding-right: 4%;

        align-items: center;
    
        color: white;

}


#giving{ color: #009ffd}

.button{ text-decoration: none;
    
padding: 10px 15px;
    color: white;

    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

    border-radius: 10px;

   

    font-weight: 700;

    font-size: 1.5rem;

    text-align: center;

    margin: auto;


position: absolute;

left: 42%;

justify-content: center;

 display: flex;
 
 font-family: 'Roboto Slab', serif;

}

.donate{ text-align: center;
 position: relative;
    top: 25px;
}

#afford{ font-size: 25px;
font-weight: 700;

color: #009ffd;}

.number{ display: flex;
padding-left: 180px;}

#five{ font-family:'Poppins', sans-serif;

         background-color: lightgrey;

        width: 50px;

        height: 50px;
        
        padding: 20px;

        margin: 20px;
font-size: 40px;
position: relative;
left: 230px;
font-weight: 500;

color: darkgray;

text-align: center;

background-size: auto;

align-items: center;

justify-content: center;

display: flex;
border-radius: 5px;
}



#ten{ font-family:'Poppins', sans-serif;

        background-color: lightgrey;

       width: 50px;

       height: 50px;
       
       border: 3px solid #009ffd;

       padding: 20px;

       margin: 20px;
font-size: 40px;
position: relative;
left: 230px;
font-weight: 700;

color: #009ffd;

text-align: center;

background-size: auto;

align-items: center;

justify-content: center;

display: flex;
border-radius: 5px;
}

#twenty{font-family:'Poppins', sans-serif;

        background-color: lightgrey;

       width: 50px;

       height: 50px;
       
       padding: 20px;

       margin: 20px;
font-size: 40px;
position: relative;
left: 230px;
font-weight: 500;

color: darkgray;

text-align: center;

background-size: auto;

align-items: center;

justify-content: center;

display: flex;
border-radius: 5px; }

#fifty{font-family:'Poppins', sans-serif;

        background-color: lightgrey;

       width: 50px;

       height: 50px;
       
       padding: 20px;

       margin: 20px;
font-size: 40px;
position: relative;
left: 230px;
font-weight: 500;

color: darkgray;

text-align: center;

background-size: auto;

align-items: center;

justify-content: center;

display: flex;
border-radius: 5px;}

.input { border: none;
        
        border-bottom-style: groove;
        outline: 0;
        display: block;
justify-content: center;      
align-items: center;
text-align: center;
padding: 0;
margin: 0;
position: absolute;
left: 500px;
font-size: 25px;
color: #009ffd;
}
        
.button-two{ text-decoration: none;
    
        padding: 10px 15px;
            color: white;
        
            background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
        
            border-radius: 10px;


         font-weight: 700;
        
            font-size: 1rem;
        
            text-align: center;
        
            margin: auto;
        
        
        position: relative; /* absolute dewa chilo*/
        
        left: 43%;
        bottom: -460px;
        justify-content: center;
        
         display: block;
         
         font-family: 'Poppins', sans-serif;
}  




#threeplan{ text-align: center;
        position: relative;

font-family: 'Poppins', sans-serif;;
}

.our{ text-align: center;
        position: relative;
           bottom: -120px; 
           font-family: 'Poppins', sans-serif;
       }
.funds{ display: flex;}

.imgone{ align-items: center;
justify-content: center;
padding-left: 25px;
}


.background{ display: flex;
align-items: center;
justify-content: center;
position: relative;
left: 25px;
bottom: -150px;

}

.describe{ word-wrap: break-word;
width: 400px;
justify-content: left;
text-align: left;

font-size: 16px;
height: 300px;/* this line*/
opacity: 10; 
background-color: lightblue;
border-radius: 5px;
color:black;
padding:7px; /* I added this line */
display:table;
}
.shelter{ word-wrap: break-word;
        width: 400px;
        justify-content: center
        
        font-size: 16px;
        height: 300px;/* modified */
        opacity: 10; 
        background-color:  lightcoral;
        border-radius: 5px;
        text-align:left;
        display:table;
        
}

.backgroundtwo{ margin: 50px;
}

.imgthree{ height: 65px;
}
 
.my{ display: block;
}

.updates{ text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 20px;
position: relative ;
left: 1px;
bottom: -145px;
}

.box{ display: flex;
align-items: center;
justify-content: center;
height: 60vh;
background: white;

}


#formbox{ padding: 50px;

border-radius: 5px;
background-color: lightcoral;
}





.formbox input{ font-size: 20px;

color: black;
border: none;
outline: none;
background: white;

}

.formbox button{ color: white; 
padding: 15px 20px;

font-size: 20px;

border: none;

border-radius: 5px;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

cursor: pointer;
transition: .3s;
box-shadow: 10px 10px 20px grey;


}

.formbox button:hover{ background:#009ffd ;}

footer {
        padding: 40px 0;
        color: white;
        background: black;
        margin-top: 10%; 
        font-family:'Poppins', sans-serif; 
      }
      
      footer li {
        float: left;
        padding: 0 10px;
        list-style: none;
      }
      
      footer a {
        color: white;
      }
      
      footer p { color: white;
        text-align: center;
      }
    
    #humble{ color: #009ffd ;
        font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
